@use "../../styles/" as *;

.wrap-top {
  padding: 1.5rem;
  &__icon {
    border-radius: 50%;
    background-color: white;
    width: 40px;
    height: 40px;
    @include flex(center, center);
    color: $header-bg;
    margin-bottom: 1rem;
  }
  &__main-title {
    margin-bottom: 0.5rem;
    color: white;
    font-weight: 600;
  }
  &__description {
    line-height: 1.5rem;
  }
}

.bgTop {
  width: 100vw;
  height: 100vh;
  background: #171725;
  clip-path: inset(0 0 55% 0);
  position: absolute;
  z-index: -100;
  top: 0;
}
